form {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
}

.campo {
    position: relative;
}

.campo i {
    position: absolute;
    left: 1rem;
    top: 50%;
    transform: translateY(-50%);
    color: var(--cor-placeholder);
    font-size: 1.25rem;
}

.campo input {
    width: 100%;
    padding: 0.75rem 1rem 0.75rem 2.5rem;
    border-radius: var(--borda-arredondada);
    border: 1px solid var(--cor-borda);
    background-color: transparent;
    color: var(--cor-texto);
    outline: none;
    transition: border-color 0.2s ease;
}

.campo input:focus {
    border-color: var(--cor-primaria);
}

button {
    background-color: var(--cor-primaria);
    color: white;
    padding: 0.75rem;
    border: none;
    border-radius: var(--borda-arredondada);
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: var(--cor-primaria-hover);
}

.img {
    width: 50%;
    height: auto;
    padding: 1.5rem;
}

.recaptcha-container {
    width: 302px;
    background: #ffffff;
    border: 1px solid #d3d3d3;
    border-radius: 3px;
    padding: 10px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    }

.recaptcha-top {
    display: flex;
    align-items: center;
    height: 28px; /* mesma altura da caixa */
  }
  
  .recaptcha-checkbox input {
    display: none;
  }
  
  .recaptcha-checkbox .box {
    width: 28px;
    height: 28px;
    border: 2px solid #c1c1c1;
    border-radius: 2px;
    position: relative;
    cursor: pointer;
    background: white;
    box-sizing: border-box;
  }
  
  .label-text {
    margin-left: 10px;
    font-size: 15px;
    color: #444;
    line-height: 28px; /* igual à altura da caixa */
  }
  
  /* Alinhamento do rodapé */
  .recaptcha-bottom {
    display: flex;
    flex-direction: column;
    align-items: flex-end; /* Alinha todo o conteúdo à direita */
    font-size: 10px;
    color: #888;
    margin-top: 10px;
  }
  
  .recaptcha-logo {
    display: flex;
    align-items: center;
    justify-content: flex-end; /* Alinha logo + texto à direita */
    margin-bottom: 2px;
  }
  
  .recaptcha-logo img {
    width: 22px;
    margin-left: 5px;
  }
  
  .recaptcha-links {
    text-align: right; /* Alinha o texto dos links à direita */
  }
  
  .recaptcha-links a {
    color: #888;
    text-decoration: none;
    margin: 0 3px;
  }
  
  .recaptcha-links a:hover {
    text-decoration: underline;
  }
  .recaptcha-links {
    text-align: right;
}
